@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/Inter-Thin.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/Inter-ExtraLight.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Inter-Light.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../fonts/Inter-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Inter-Medium.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Inter-SemiBold.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Inter-Bold.otf") format("opentype");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/Inter-ExtraBold.otf") format("opentype");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Inter-Black.otf") format("opentype");
  }