@import url(../styles/normalize.css);
@import url(../fonts/inter.css);

body {
    background-color: #2A2C2F;
    width: 100%;
}

.page {
    font-family: 'Inter', 'Arial', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: white;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.75rem 3rem;

}

.header__link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.75;
}

.header__link_ru {
    margin-right: 1rem;
    text-decoration: underline;
}

/* .header__link_ru:hover {
    text-decoration: underline;
}
*/

.header__link_en:hover {
    text-decoration: underline;
}

.lead {
    color: white;
    max-width: 61.5rem;
    display: flex;
    flex-direction: column;
    margin: 3.5rem auto 0;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.lead__title {
    font-weight: 900;
    font-size: 6rem;
    line-height: 6.25rem;
    margin-top: 0;
    max-width: 45rem;
}

.lead__subtitle {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.25rem;
    max-width: 40rem;
    margin-top: 2rem;
}

.lead__image {
    margin-top: 4rem;
    max-width: 100%;
    height: auto;
}

.lead__polka {
    max-width: 100%;
}

.lead__caption {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 1rem;
    text-transform: uppercase;
    text-align: start;
    margin: 0.5rem 0 0;
}

.intro {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 5.75rem 27.625rem 0 9.25rem;
    max-width: 43rem;
}

.intro__title {
    font-weight: 900;
    font-size: 3.1rem;
    margin-top: 0;
    margin-bottom: 0;
    
}

.intro__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

.intro__list {
    list-style: none;
    margin-top: 2rem;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1;
    padding: 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
    margin: 5.75rem 3rem 5.75rem;
}

.grid__item {
    width: 100%;
}

.places {
    color: white;
}

.place {
    display: grid;
    grid-template-columns: 29rem 1fr;
    grid-gap: 2.5rem;
    margin: 0 9.25rem 5rem;
}

.place__title {
    font-weight: 900;
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 29rem;
}

.place__website {
    align-self: flex-end;
}

.place__website_link {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-top: 0.8rem;
}

.place__website_link:hover {
    opacity: .8;
    transition: 0.2s;
}

.place__url-heading {
    color: #AAAAAA;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: 0.2em;
}

.place__image {
    max-width: 100%;
    height: auto;
}

.place__paragraphs {
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    line-height: 1.8;
}

.place__paragraph {
    margin: 0 0 1.5rem;
}

.cover {
    margin: 5.75rem 3rem 0;
    min-height: 46.25rem;
    background-image: url(../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cover__overlay {
    color: white;
    text-decoration: none;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cover__overlay::after {
    content: "";
    position: absolute;
    display: block;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    background-color: #2A2C2F;
    opacity: .3;
    transition: 0.2s;
    
}
  
.cover__overlay:hover::after {
    opacity: .8;
}

.cover__title {
    font-weight: 900;
    font-size: 4.5rem;
    max-width: 35rem;
    margin: 15rem auto 0;
    z-index: 1;
}

.cover__subtitle {
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 22.5rem;
    margin: 2rem auto 0;
    z-index: 1;
}

.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5.75rem 3rem 1.5rem;

}

.nav__footer {
    align-self: center;
}

.nav__footer_link {
    text-decoration: none;
    color: white;
    margin-right: 1.125rem;
    font-size: 1rem;
}

.nav__footer_link:hover {
    opacity: .8;
    transition: 0.2s;
}

.nav__footer_link:last-child {
    margin-right: 0;
}

.footer__copyright {
    font-size: 0.875rem;
}

@media screen and (max-width: 1280px) {
    .page {
        max-width: 1280px;
    }
    .cover {
        height: 46.25rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page {
        max-width: 1024px;
    }
    .header {
        margin-bottom: 0;
    }
    .lead {
        margin: 3rem 3rem 0;
    }
    .lead__title {
        margin: auto;
    }
    .lead__subtitle {
        margin: 2rem auto 0;
    }
    .lead__image {
        margin: 3.5rem 3rem 0;
    }
    .intro {
        margin: 5.75rem auto 0 3rem;
    }
    .intro__text {
        margin-top: 2.5rem;
    }
    .intro__list {
        margin: 2rem 0 0;
    }
    .photo-grid {
        margin: 5.75rem 3rem 5.75rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }
    .places {
        margin: 0 3rem 5.75rem;
    }
    .place {
        margin: 0 auto 5rem;
    }
    .place__image {
        max-width: 27rem;
        height: auto    ;
    }
    .place__title{
        max-width: 27.5rem;
    }

    .place__paragraph {
        font-size: 17px;
        font-weight: 400;
        line-height: 1.8;
    }
    .cover {
        margin: auto;
        max-height: 40rem;
    }
    .cover__title {
        margin: 15rem auto 0;
    }
    .cover__subtitle {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page {
        max-width: 768px;
    }
    .header {
        margin: 1.75rem 1.5rem 0;
    }
    .lead {
        margin: 3rem 0rem 0;
    }
    .lead__title {
        margin: auto;
    }
    .lead__subtitle {
        margin: 2rem auto 0;
    }
    .lead__image {
        margin: 3.5rem 0rem 0;
    }
    .lead__caption {
        margin-left: 1.5rem;
    }
    .intro {
        margin: 5.5rem auto 0;
    }
    .intro__text {
        margin-top: 2.5rem;
    }
    .intro__list {
        margin: 2rem 0 0;
    }
    .photo-grid {
        margin: 5.5rem 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1rem;
    }
    .places {
        margin: 0 1.5rem 5.625rem;
    }
    .place {
        grid-template-columns: 21.25rem 1fr;
        margin: 0 0 5rem;
    }
    .place__image {
        max-width: 21.25rem;
        height: auto;
    }
    .place__title{
        max-width: 21.25rem;
        font-size: 2.625rem;
    }

    .place__paragraphs {
        width: 22rem;
    }

    .place__paragraph {
        font-size: 16px;
        font-weight: 400;
    }
    .cover {
        margin: auto;
        min-height: 30rem;
    }
    .cover__title {
        margin: 7rem auto 0;
    }
    .cover__subtitle {
        margin-top: 2rem;
    }
    .footer {
        margin: 5.5rem 1.5rem 1.5rem 1.5rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .page {
        max-width: 320px;
    }
    .header {
        margin: 1rem 1rem 0;
    }
    .lead {
        margin: 3rem 0rem 0;
    }
    .lead__title {
        margin: auto;
        font-size: 2.5rem;
        line-height: 1;
    }
    .lead__subtitle {
        margin: 1rem 1rem 0;
        font-size: 1rem;
        line-height: 1.5;
    }
    .lead__image {
        margin: 2.5rem 0rem 0;
    }
    .lead__caption {
        margin-left: 1rem;
        font-size: 0.5rem;
    }
    .intro {
        margin: 4rem 1rem 0;
    }
    .intro__title {
        font-size: 2rem;
    }
    .intro__text {
        margin-top: 2.5rem;
        font-size: 1rem;
    }
    .intro__list {
        margin: 2rem 0 0;
        font-size: 0.75rem;
    }
    .photo-grid {
        margin: 4rem 1rem 4rem;
        grid-template-columns: 1fr;
        gap: 0.75rem;
    }
    .places {
        margin: 0 0 4rem;
    }
    .place {
        grid-template-columns: 0;
        grid-template-rows: 1fr;
        margin: 0 0 3rem;
    }
    .place__image {
        max-width: 20rem;
        height: auto;
    }
    .place__title{
        width: 18rem;
        font-size: 2rem;
        margin: 0 1rem 0;
    }
    .place__website {
        width: 18rem;
        margin: 0 1rem;
    }
    .place__website_link {
        font-size: 18px;
    }
    .place__paragraphs {
        width: 20rem;
    }
    .place__paragraph {
        font-size: 16px;
        font-weight: 400;
        margin: 0 1rem;
    }
    .cover {
        margin: auto;
        min-height: 12.5rem;
        width: 320px;
    }
    .cover__title {
        margin: auto;
        font-size: 2rem;
    }
    .cover__subtitle {
        margin-top: 1rem;
        font-size: 14px;
    }
    .footer {
        margin: 4rem 7.375rem 1.5rem 1rem;
        flex-direction: column;
        width: 11.5rem;
    }
    .nav__footer_link {
        font-size: 1.5rem;
        line-height: 2;
    }
    .footer__copyright {
        font-size: 14px;
        margin-top: 3rem;
        margin-bottom: 0;
    }
}
